$prefix: sv-survey-autofill;

:export {
  cssPrefix: $prefix;
}

:global {
  .#{$prefix} {
    > td {
      cursor: pointer;
      transition: background-color 0.2s ease;
      position: relative;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
